<!-- app/views/messages/_form.html.erb -->
<div id="send_message" class="mt-4">
  <% if flash[:error] %>
    <p class="text-red-500"><%= flash[:error] %></p>
  <% end %>

  <%= form_with model: Message.new do |f| %>
    <!-- Hidden Field for Order -->
    <%= f.hidden_field :order_id, value: order.id %>

    <!-- Dropdown for Recipient -->
    <div class="mb-4">
      <%= f.label :recipient_id, "Send To" %>
      <%= f.select :recipient_id,
          options_for_select(
            if current_user.customer_care?
              User.where.not(id: current_user.id).pluck(:email, :id)
            elsif current_user.doctor?
              User.where(role: [:user, :customer_care]).pluck(:email, :id)
            elsif current_user.user?
              User.where(role: [:doctor, :customer_care]).pluck(:email, :id)
            end
          ) %>
    </div>

    <!-- Text Field for Message -->
    <%= f.text_field :message, class: "w-full", placeholder: "Write your message..." %>

    <!-- Submit Button -->
    <%= f.submit "Send", class: "btn btn-primary" %>
  <% end %>
</div>
